@import "tailwindcss";

:root {
  --background: #FFF6ED;
  --primary: #E6895B;
  --primary-foreground: #FFB996;
  --secondary: #8DA3A6;
  --secondary-foreground: #D9D9D9;
  --tertiary: #FDD68D;
  --tertiary-foreground: #FFD287;
  --fourth: #EFD3BB;
  --fourth-foreground: #FFD1AA;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-fourth: var(--fourth);
  --color-fourth-foreground: var(--fourth-foreground);
}

body {
  background: var(--background);
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

/* Ocultar scrollbar en Chrome, Safari y Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar en IE, Edge y Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
}
