@import "tailwindcss";

:root {
  --background: #FFF6ED;
  --primary: #E6895B;
  --secondary: #8DA3A6;
  --tertiary: #FDD68D;
  --fourth: #EFD3BB
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-fourth: var(--fourth)
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ocultar scrollbar en Chrome, Safari y Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar en IE, Edge y Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
}
